.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 10rem;
  position: absolute;
  overflow: scroll;
  .item {
    box-sizing: border-box;
    width: 24%;
    text-align: center;
    padding: 5rem 1rem;
    img {
      width: 65rem;
      height: 65rem;
    }
    .title {
      font-size: 12rem;
      padding: 5rem 0;
      white-space: nowrap;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
    }
  }
}
