.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0.05rem 0.10rem;
  .left {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    .item {
      cursor: pointer;
      font-size: 0.28rem;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      transition: transform 1s;
      &:hover {
        transform: scale(1.2);
        transition: transform 1s;
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    padding: 0 0.05rem;
    align-items: center;
    .slider {
      flex: 1;
    }
    span {
      padding-left: 0.10rem;
      width: 0.28rem;
      font-size: 0.12rem;
    }
  }
}
