.container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgba(57, 50, 57, 1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    .bag1 {
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: blur(300px);
      img {
        width: 100%;
        height: 100%;
      }
    }
    .bag {
      position: fixed;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.8;
      transition: filter 1s;
      animation: mymove 20s infinite; /*Safari and Chrome*/
      animation-fill-mode: forwards;
      -webkit-animation: mymove 20s infinite; /*Safari and Chrome*/
      -webkit-animation-fill-mode: forwards;
      img {
        width: 75vw;
        height: 75vw;
        border-radius: 50%;
        animation: rotateImg 30s linear infinite;
        -webkit-animation: rotateImg 30s linear infinite;
      }
      @-webkit-keyframes mymove /*Safari and Chrome*/ {
        0% {
          -webkit-ttransform: scale(0.5);
          -webkit-tfilter: blur(100px);
        }
        15% {
          -webkit-ttransform: scale(0.75);
          -webkit-tfilter: blur(75px);
        }
        50% {
          -webkit-ttransform: scale(1);
          -webkit-tfilter: blur(0px);
        }
  
        85% {
          -webkit-ttransform: scale(0.75);
          -webkit-tfilter: blur(75px);
        }
        100% {
          -webkit-ttransform: scale(0.5);
          -webkit-tfilter: blur(100px);
        }
      }
      @keyframes mymove /*Safari and Chrome*/ {
        0% {
          transform: scale(0.5);
          filter: blur(100px);
        }
        15% {
          transform: scale(0.75);
          filter: blur(75px);
        }
        50% {
          transform: scale(1);
          filter: blur(0px);
        }
  
        85% {
          transform: scale(0.75);
          filter: blur(75px);
        }
        100% {
          transform: scale(0.5);
          filter: blur(100px);
        }
      }
      @keyframes rotateImg {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  
      @-webkit-keyframes rotateImg {
        0% {
          -webkit-transform: rotate(0deg);
        }
        100% {
          -webkit-transform: rotate(360deg);
        }
      }
    }
    /deep/.top {
      height: 0.42rem;
      .van-tabs__nav {
        background: rgba(0, 0, 0, 0);
      }
      .van-tabs__line {
        background: rgba(197, 197, 197, 1);
      }
    }
    .content {
      flex: 1;
      overflow: auto;
      position: relative;
      .slide-left-enter {
        opacity: 0;
        -webkit-transform: translate(0.5rem, 0);
        transform: translate(0.5rem, 0);
      }
      .slide-left-enter-active {
        transition: all 0.5s ease;
      }
      .slide-left-leave-to {
        opacity: 0;
        -webkit-transform: translate(-0.5rem, 0);
        transform: translate(-0.5rem, 0);
      }
      .slide-left-leave-active {
        transition: all 0.5s ease;
      }
    }
    .bottom {
      height: 0.48rem;
    }
  }